#include "resource.h"
#include "base/version.h"

ID_MP3_SMALL_BELL       MP3                     "small_bell.mp3"
#if CA2_PLATFORM_VERSION == CA2_BASIS
IDI_CA2_SPA   ICON                    "basis.ico"
#else
IDI_CA2_SPA   ICON                    "stage.ico"
#endif

